<p id="notice"><%= notice %></p>

<p>
  <strong>Licence:</strong>
  <%= @car.licence %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>model:</strong>
  <%= @car.model %>
</p>

<p>
  <strong>Water:</strong>
  <%= @car.water %>
</p>

<p>
  <strong>Fuel:</strong>
  <%= @car.fuel %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @car.gas %>
</p>

<p>
  <strong>Oil:</strong>
  <%= @car.oil %>
</p>

<p>
  <strong>Temperature,:</strong>
  <%= @car.temperature %>
</p>

<p>
  <strong>Pollution,:</strong>
  <%= @car.pollution %>
</p>

<p>
  <strong>Pressure,:</strong>
  <%= @car.pressure %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @car.speed %>
</p>

<p>
  <strong>User:</strong>
  <%= @car.user %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
